.header {
	height: 70px;
	padding: 11px;
	background-color: purple;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	align-items: center;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.title {
	color: #fff;
	font-size: 30px;
}

.logo {
	height: 55px;
	object-fit: contain;
	background-color: #ff7f7f;
}

.login {
}

.login-modal {
	margin: 150px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-header {
	background-color: purple;
}

.modal-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}